language: node_js
node_js:
  - node
install:
  - yarn install
script:
  - yarn build
deploy:
  email: taichunmin@gmail.com
  github-token: $GITHUB_TOKEN # a token generated on github allowing travis to push code on you repository
  keep-history: false
  local_dir: dist
  name: taichunmin
  provider: pages
  skip-cleanup: true
  target-branch: gh-pages
  on:
    branch: master
branches:
  only:
    - master
notifications:
  email:
    on_failure: always
