extends /layout/bootstrapV4-vue3

block beforehtml
  - title = 'Vue3 Playground'

block style
  style
    :sass
      [v-cloak]
        display: none
      body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
        font-family: 'Noto Sans TC', sans-serif

block content
  #app.container.my-4.text-monospace(v-cloak)
    h3.my-3.text-center= title
    button.btn.btn-primary.btn-block(@click="count++") Count is: {{ count }}

block script
  script(type="importmap").
    {
      "imports": {
        "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js/+esm"
      }
    }
  script(type="module").
    import { createApp, ref } from 'vue'

    window.vm = createApp({
      setup () {
        return {
          count: ref(0),
        }
      },
    }).mount('#app')
