doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="Refresh", content="0; URL=https://taichunmin.idv.tw")
  body
    if !watch
      script.
        window.location = 'https://taichunmin.idv.tw'
