extends /layout/default

block beforehtml
  - const title = 'Open google maps url with liff.openWindow()'

block style
  style
    :sass
      [v-cloak]
        display: none

block content
  #app.container.my-3(v-cloak)
    h3.text-center.my-3= title
    h4.text-center Enviorment
    ul
      li getLineVersion: {{ getLineVersion }}
      li getOS: {{ getOS }}
      li getVersion: {{ getVersion }}
      li isInClient: {{ isInClient }}
    button.btn.btn-block.btn-primary.my-3(type="button", @click="btnGmap(false)") external: false
    button.btn.btn-block.btn-primary.my-3(type="button", @click="btnGmap(true)") external: true

block script
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/npm/vconsole@3/dist/vconsole.min.js")
  script(crossorigin="anonymous", src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script.
    window.vConsole = new VConsole()
    const genGoogleMapUrl = (query, queryPlaceId) => {
      const gmap = new URL('https://www.google.com/maps/search/')
      gmap.searchParams.set('api', '1')
      gmap.searchParams.set('query', query)
      if (queryPlaceId) gmap.searchParams.set('query_place_id', queryPlaceId)
      return gmap.href
    }
    window.vm = new Vue({
      el: '#app',
      data: {
        getLineVersion: '?',
        getOS: '?',
        getVersion: '?',
        isInClient: '?',
      },
      async mounted () {
        await liff.init({ liffId: '1654046335-kWvqeyYW' })
        _.each(['getLineVersion', 'getOS', 'getVersion', 'isInClient'], k => {
          const tmp = _.invoke(liff, k)
          if (_.isNil(tmp)) return
          this.$set(this, k, tmp)
        })
      },
      methods: {
        async btnGmap (external = false) {
          liff.openWindow({
            url: genGoogleMapUrl('24.959276,121.419008', 'ChIJ40_T2-scaDQRF36Y2c_qORY'),
            external,
          })
        },
      },
    })
