extends /layout/default

block beforehtml
  - const title = '掃描附近的 LINE Beacon'

block style
  style
    :sass
      [v-cloak]
        display: none
      .beacon
        font-size: .75rem
        th
          width: 1px

block content
  #app.container.text-monospace(v-cloak)
    h3.text-center.my-3= title
    .row.my-3.mx-n2
      .col.px-0.mx-2
        button.btn.btn-block.btn-danger(type="button", @click="btnClear") 清空資料
      .col.px-0.mx-2
        button.btn.btn-block.btn-success(v-if="!scanning", type="button", @click="btnToggleScan") 開始掃描
        button.btn.btn-block.btn-warning(v-else, type="button", @click="btnToggleScan") 停止掃描
    template(v-if="!_.keys(beacons).length")
      .input-group.input-group-sm
        input.form-control(type="url", value="chrome://flags/#enable-experimental-web-platform-features", readonly)
        .input-group-append
          button.btn.btn-outline-success(type="button", @click="btnCopy('chrome://flags/#enable-experimental-web-platform-features')") 複製網址
      small.text-muted 如果無法掃描，請嘗試使用 macOS 和 Android 系統的 Google Chrome（版本大於 79）開啟，並且前往上方網址啟用 Experimental Web Platform features 功能。
    .row
      .col-12.col-sm-6.col-md-4.my-2(v-for="beacon of beacons", :key="beacon.id")
        table.table.table-dark.table-bordered.table-sm.mb-0.text-right.beacon
          tr(v-for="k in ['id', 'name', 'rssi', 'hwid', 'dm', 'auth', 'maskedTimestamp', 'batteryLevel', 'mbid', 'scannedAt']")
            th {{ k }}
            td {{ _.get(beacon, k, '無資料') }}

block script
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js")
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/npm/moment@2/locale/zh-tw.min.js")
  script.
    const bluetooth = _.get(navigator, 'bluetooth')
    const UUID_LINE = '0000fe6f-0000-1000-8000-00805f9b34fb'
    const vm = new Vue({ // eslint-disable-line no-unused-vars
      el: '#app',
      data: {
        beacons: {},
        scan: null,
        scanning: false,
      },
      mounted () {
        moment.locale('zh-tw')
        // 綁定掃描事件
        bluetooth.addEventListener('advertisementreceived', event => { this.onAdvertisementReceived(event) })
        window.setInterval(() => { this.updateScanning() }, 1000)
      },
      methods: {
        async getBluetoothAvailability () {
          return await _.invoke(navigator, 'bluetooth.getAvailability') === true
        },
        async btnToggleScan () {
          try {
            this.updateScanning()
            if (!this.scanning) { // 開始掃描
              if (!await this.getBluetoothAvailability()) throw new Error('您的裝置不支援藍芽功能')
              this.scan = await bluetooth.requestLEScan({
                filters: [{ services: [UUID_LINE] }],
              })
            } else { // 停止掃描
              this.scan.stop()
              this.scan = null
            }
          } catch (err) {
            Swal.fire({
              icon: 'error',
              text: err.message,
              title: '藍芽掃描切換失敗',
            })
          }
        },
        async onAdvertisementReceived (event) {
          const dv = event.serviceData.get(UUID_LINE)
          if (!ArrayBuffer.isView(dv) || dv.byteLength < 6) return
          const beacon = {
            id: _.trim(_.get(event, 'device.id'), '='),
            name: _.get(event, 'device.name'),
            rssi: _.get(event, 'rssi'),
            txPower: _.get(event, 'txPower'),
            uuids: _.get(event, 'uuids'),
            frameType: this.dvGetHex(dv, 0, 1),
            hwid: this.dvGetHex(dv, 1, 5),
            dm: this.dvGetHex(dv, 7),
            scannedAt: moment().format('HH:mm:ss'),
            ...(!_.includes([14, 19], dv.byteLength) ? {} : {
              auth: this.dvGetHex(dv, 7, 4),
              maskedTimestamp: `${dv.getUint16(11)} (${this.dvGetHex(dv, 11, 2)})`,
              batteryLevel: this.dvGetHex(dv, 13, 1),
            }),
            ...(dv.byteLength !== 19 ? {} : {
              mbid: this.dvGetHex(dv, 14, 5),
            }),
          }
          this.$set(this.beacons, beacon.id, beacon)
        },
        async btnCopy (text, container = null) {
          if (!container) container = document.body
          const dom = document.createElement('textarea')
          dom.value = text
          container.appendChild(dom)
          dom.select()
          dom.setSelectionRange(0, 1e6) // For mobile devices
          document.execCommand('copy')
          container.removeChild(dom)
          await Swal.fire({ icon: 'success', title: '複製成功' })
        },
        updateScanning () {
          this.scanning = _.get(this, 'scan.active', false)
        },
        btnClear () {
          this.$set(this, 'beacons', {})
        },
        dvGetHex (dv, start, len) {
          return _.map(new Uint8Array(dv.buffer, start, len), u8 => `0${u8.toString(16)}`.slice(-2)).join('')
        },
      },
    })
