extends /layout/default

block style
  style
    :sass
      [v-cloak]
        display: none
      #app
        button.btn
          font-size: 3rem
        strong.text-muted
          font-size: 1.6rem

block content
  #app.p-1.my-3.mx-auto.d-flex.flex-column.text-monospace(v-cloak, style="width: 800px; height: 400px")
    .d-flex.flex-fill.mb-3
      template(v-for="i in ['A', 'B', 'C']")
        button.btn.btn-outline-success.flex-fill.mx-2(type="button", @click="page = `alias-${i}`", :class="{active: (page === `alias-${i}`)}") Alias {{ i }}
    .d-flex.flex-fill.mb-3
      template(v-for="i in ['A', 'B', 'C']")
        button.btn.btn-outline-secondary.flex-fill.mx-2(type="button", @click="page = `link-${i}`", :class="{active: (page === `link-${i}`)}") Link {{ i }}
    .d-flex.flex-fill.mb-3
      button.btn.btn-outline-danger.flex-fill.mx-2(type="button") #[i.mr-1.fa.fa-times-circle-o] 結束範例
      button.btn.btn-outline-info.flex-fill.mx-2(type="button") #[i.mr-1.fa.fa-external-link] 查看文章
    strong.text-muted.text-center 這是 Richmenu Alias 的範例，詳細說明請點選「查看文章」。

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        page: 'A',
      },
    })
