extends /layouts/default

block beforehtml
  - var title = '手機桌面捷徑產生器'

block style
  style
    :sass
      [v-cloak]
        display: none

block content
  #app.container.text-monospace(v-cloak)
    #android-chrome(v-if="page==='android'")
      h1.my-2.text-center 把捷徑加到主畫面
      p 步驟：
      ol
        li 請使用 Android 的 Chrome 瀏覽器開啟
        li 點選瀏覽器右上角的「更多」按鈕
        li 點選「加到主畫面」
    #ios-safari(v-else-if="page==='ios'")
      h1.my-2.text-center 把捷徑加到主畫面
      p 步驟：
      ol
        li 請使用 iOS 的 Safari 瀏覽器開啟
        li 點選瀏覽器下方的「分享」按鈕
        li 點選「加入主畫面螢幕」
    #generate.text-monospace(v-else)
      h2.my-2.text-center= title
      .form-group.my-2
        label(for="i-icon") 圖示
        input#i-icon.form-control.form-control-sm(type="url", name="icon", v-model="icon")
        small#help-icon.form-text.text-muted 捷徑圖
      .form-group.my-2
        label(for="i-label") 名稱
        input#i-label.form-control.form-control-sm(type="text", name="label", v-model="label")
        small#help-label.form-text.text-muted 請填寫捷徑名稱
      .form-group.my-2
        label(for="i-link") 網址
        input#i-link.form-control.form-control-sm(type="url", name="link", v-model="link")
        small#help-label.form-text.text-muted 請填寫捷徑網址
      .form-group.my-2
        label(for="i-result") 結果
        textarea#brwoser.form-control.form-control-sm(style="height: 150px", :value="shortcut", readonly)
        small#help-label.form-text.text-muted 請複製此網址
      a.btn.btn-primary.my-2(:href="shortcut", target="_blank") 測試

block script
  script(src="https://cdn.jsdelivr.net/npm/crypto-js@4/crypto-js.min.js")
  script(src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/qrcode@1/build/qrcode.min.js")
  script(src="https://cdn.jsdelivr.net/npm/ua-parser-js@0/dist/ua-parser.min.js")
  script.
    /* global UAParser */
    const vm = new Vue({ // eslint-disable-line
      el: '#app',
      data: {
        icon: 'https://obs.line-scdn.net/0hSG8QEK4LDGgFKCflNDtzPyR1Bwo2ShJjJ05ECiIvUFkrHE5QaUwQXnUqUVsgGx5uP0tHWU4oWg0pG0s4OwtCXSMvVVoqHQ/f256x256',
        label: 'YouBike Today',
        link: 'https://line.me/R/ti/p/@kadacha',
        page: '',
      },
      async mounted () {
        this.init()
      },
      computed: {
        shortcut () {
          if (!this.fnIsValid(this)) return '#'
          const url = new URL('?', location)
          url.searchParams.set('icon', this.icon)
          url.searchParams.set('label', this.label)
          url.searchParams.set('link', this.link)
          url.searchParams.set('openExternalBrowser', 1) // for LINE
          return url.href
        },
        browser () {
          const parser = new UAParser()
          const browser = parser.getResult()
          delete browser.ua
          return browser
        },
      },
      methods: {
        async init () {
          // 讀取網址上的參數
          const params = {
            icon: this.param('icon'),
            label: this.param('label'),
            link: this.param('link'),
          }
          console.log(params)
          if (this.fnIsValid(params)) {
            // 設定 url, title, icon
            this.setIcon(params.icon)
            this.setLabel(params.label)
            this.setLink(params.link)
            // 判斷作業系統及瀏覽器
            this.page = _.toLower(this.browser.os.name)
          } else this.page = 'generate'
        },
        fnIsValid (params) {
          return params.icon && params.label && params.link
        },
        param (key) {
          const url = new URL(location)
          return url.searchParams.get(key)
        },
        setIcon (icon) {
          const favicon = document.querySelector("link[rel*='icon']") || document.createElement('link')
          favicon.rel = 'shortcut icon'
          favicon.href = icon
          document.getElementsByTagName('head')[0].appendChild(favicon)

          const appleTouchIcon = document.querySelector("link[rel*='apple-touch-icon']") || document.createElement('link')
          favicon.rel = 'apple-touch-icon'
          favicon.href = icon
          document.getElementsByTagName('head')[0].appendChild(favicon)
        },
        setLabel (label) {
          document.title = label
        },
        setLink (link) {
          const url = new URL('mobile-desktop-shortcut-redirect.html', location)
          url.searchParams.set('link', link)
          history.replaceState(null, '', url.href)
        },
      },
    })