extends /layout/default

block beforehtml
  - const title = 'WebBLE PN532'

block style
  meta(property="fb:app_id", content="2133031763635285")
  meta(property="og:description", content=title)
  meta(property="og:locale", content="zh_TW")
  meta(property="og:site_name", content="筆記國度")
  meta(property="og:title", content=title)
  meta(property="og:type", content="website")
  meta(property="og:url", content="https://taichunmin.idv.tw/pug/webble-pn532.html")
  style
    :sass
      [v-cloak]
        display: none
      body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
        font-family: 'Noto Sans TC', sans-serif

block content
  #app.my-3.container-fluid(v-cloak, style="max-width: 760px")
    h3.mb-3.text-center= title
    .card.mb-4
      .card-body.text-monospace
        h5.card-title 操作
        button.mt-2.btn.btn-block.btn-outline-primary(type="button", @click="btnTest") #[span.fa.fa-fw.fa-cogs] 執行測試

block script
  script(crossorigin="anonymous", src="https://cdn.jsdelivr.net/npm/vconsole@3/dist/vconsole.min.js")
  include ../component/webble-pn532-js
  script.
    /* global Pn532 */
    window.vConsole = new VConsole()
    window.pn532 = new Pn532()
    window.vm = new Vue({
      el: '#app',
      data: {
        h: {
        },
      },
      async mounted () {
        // 自動儲存功能
        try {
          const saved = JSON5.parse(localStorage.getItem(location.pathname))
          if (saved) this.$set(this, 'h', { ...this.h, ...saved })
        } catch (err) {}
        this.$watch('h', () => {
          localStorage.setItem(location.pathname, JSON5.stringify(this.h))
        }, { deep: true })
      },
      methods: {
        async btnTest () {
          //- console.log(await window.pn532.getFirmwareVersion())
          //- console.log(await window.pn532.readRegisters([0x6302, 0x6303, 0x633d]))
          //- console.log(await window.pn532.magicMifareSetUid())
          //- const block = 7
          //- console.log(await window.pn532.mfAuthenticateBlock({ block, isKeyB: 1, key: 'ffffffffffff', uid: 'F235061B' }))
          //- console.log(await window.pn532.mfWriteBlock({ block, data: '00010203040506070809101112131415' }))
          //- console.log(await window.pn532.mfReadBlock({ block }))
          //- console.log(await window.pn532.mfMagicUnlock())
          //- console.log(await window.pn532.mfMagicWipe({ uid: 'F235061B' }))
          try {
            const epaper = new window.Pn532Waveshare(window.pn532)
            await epaper.update_1_54b()
          } catch (err) {
            console.error(err)
          }
        },
        showLoading (title, text) {
          Swal.fire({
            title,
            text,
            allowOutsideClick: false,
            showConfirmButton: false,
            willOpen: () => { Swal.showLoading() },
          })
        },
      },
    })
